alabaster==0.7.13
appdirs==1.4.4
asn1crypto==1.5.1
atomicwrites==1.4.1
attrs==23.1.0
Babel==2.12.1
backports.entry-points-selectable==1.2.0
backports.functools-lru-cache==1.6.5
beautifulsoup4==4.12.3
beniget==0.4.1
bitstring==4.0.2
blist==1.3.6
boto3==1.28.70
botocore==1.31.70
Bottleneck==1.3.7
build==0.10.0
CacheControl==0.12.14
cachy==0.3.0
carbontracker==1.2.5
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
contourpy==1.2.1
crashtest==0.4.1
cryptography==41.0.1
cycler==0.12.1
Cython==0.29.35
deap==1.4.0
decorator==5.1.1
distlib==0.3.6
distro==1.8.0
docker==7.1.0
docker-squash==1.2.0
docopt==0.6.2
docutils==0.20.1
doit==0.36.0
dulwich==0.21.5
ecdsa==0.18.0
editables==0.3
efficientvit @ git+https://github.com/mit-han-lab/efficientvit@3ecf6f8603cd49e5a415fe9aeb3ac76b79f7e54d
einops==0.8.0
exceptiongroup==1.1.1
execnet==1.9.0
expecttest==0.1.5
filelock==3.12.2
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2023.6.0
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.5.4
gdown==5.2.0
geocoder==1.38.1
glob2==0.7
gmpy2==2.1.5
hatch-fancy-pypi-readme==23.1.0
hatch-vcs==0.3.0
hatchling==1.18.0
html5lib==1.1
huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.4
igraph==0.11.5
imagesize==1.4.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
iniconfig==2.0.0
installer==0.7.0
intervaltree==3.1.0
intreehooks==1.0
iopath==0.1.10
ipaddress==1.0.23
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
keyring==23.13.1
keyrings.alt==4.2.0
kiwisolver==1.4.5
liac-arff==2.5.0
lockfile==0.12.2
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.1
mdurl==0.1.2
mock==5.0.2
monai==1.3.2
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multimethod==1.12
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
numexpr==2.8.4
numpy==1.25.1
onnx==1.16.1
onnxruntime==1.18.1
onnxsim==0.4.36
opencv-python==4.10.0.84
opencv-python-headless==4.9.0.80
openvino==2024.3.0
openvino-telemetry==2024.1.0
packaging==23.1
pandas==2.0.3
pastel==0.2.1
pathlib2==2.3.7.post1
pathspec==0.11.1
pbr==5.11.1
pexpect==4.8.0
Pillow==9.5.0
pip==22.3.1
pkginfo==1.9.6
platformdirs==3.8.0
pluggy==1.2.0
ply==3.11
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
pooch==1.7.0
portalocker==2.10.1
protobuf==4.24.0
psutil==5.9.5
ptyprocess==0.7.0
py==1.11.0
py-expression-eval==0.3.14
pyasn1==0.5.0
pybind11==2.11.1
pycparser==2.21
pycryptodome==3.18.0
pydevtool==0.3.0
Pygments==2.15.1
pylev==1.4.0
PyNaCl==1.5.0
pynvml==11.5.3
pyparsing==3.1.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
pythran==0.13.1
pytoml==0.1.21
pytz==2023.3
PyYAML==6.0
rapidfuzz==2.15.1
ratelim==0.1.6
regex==2023.6.3
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.4.2
rich-click==1.6.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.7.0
safetensors==0.4.3
scandir==1.10.0
scipy==1.11.1
SecretStorage==3.3.3
segment-anything==1.0
semantic-version==2.10.0
setuptools==65.5.0
setuptools-scm==7.1.0
shellingham==1.5.0
simplegeneric==0.8.1
simplejson==3.19.1
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
Sphinx==7.0.1
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
texttable==1.7.0
threadpoolctl==3.1.0
timm==1.0.7
TinyNeuralNetwork @ git+https://github.com/alibaba/TinyNeuralNetwork.git@6d0bfb527ba0d766f2b74bef0f4f3e7b1bce01e2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.8
torch==2.1.2
torchpack==0.3.1
torchprofile==0.0.4
torchvision==0.16.2
tqdm==4.66.4
transformers==4.42.3
trove-classifiers==2023.5.24
typing_extensions==4.6.3
tzdata==2023.3
ujson==5.8.0
urllib3==1.26.16
versioneer==0.29
virtualenv==20.23.1
wcwidth==0.2.6
webencodings==0.5.1
xlrd==2.0.1
yacs==0.1.8
zipfile36==0.1.3
zipp==3.15.0
